<%# <%= render 'shared/error_messages' %>
<%= form_with(model: @memo, local: true) do |f|%>
  <div class="field">
    <div class="word10">
    <%= f.label :hospital_name, "担当先の病院の名前" %><br />
    </div>
    <%= f.text_field :hospital_name, class:"input-default" %>
  </div>

  <div class="field">
  <div class="word11">
  <%= f.label :hospital_teacher, "担当先の病院の先生" %><br />
  </div>
  <%= f.text_field :hospital_teacher, class:"input-default" %>
  </div>

  <div class="field">
    <div class="word12">
    <%= f.label :way_id, "活動方法" %><br />
    </div>
    <%= f.collection_select(:way_id, Way.all, :id, :name, {}, {class:"input-default", id:"memo-way"}) %>
  </div>

  <div class="field">
  <div class="word13">
  <%= f.label :pace_id, "活動頻度" %><br />
  </div>
  <%= f.collection_select(:pace_id, Pace.all, :id, :name, {}, {class:"input-default", id:"memo-pace"}) %>
  </div>

  <div class="field">
  <div class="word14">
  <%= f.label :remote_id, "リモート面談の可否" %><br />
  </div>
  <%= f.collection_select(:remote_id, Remote.all, :id, :name, {}, {class:"input-default", id:"memo-remote"}) %>
  </div>

  <div class="field">
    <div class="word15">
    <%= f.label :record, "活動記録" %><br />
    </div>
    <%= f.text_area :record, placeholder:"例) 3月1日（月）
医局室で面談を実施...etc" , class: "input-default2" %><br />
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>