<main class="main">
  <div class="inner">
    <div class="user__wrapper">
    <div class= "table_top">
    <div>
      <table class="table1">
        <tbody>
          <tr>
            <th class="table__col1">担当先の病院の名前</th>
            <td class="table__col2"><%=@memo.hospital_name  %></td>
          </tr>
          <tr>
            <th class="table__col1">担当先の病院の先生</th>
            <td class="table__col2"><%=@memo.hospital_teacher %></td>
          </tr>
          <tr>
            <th class="table__col1">活動方法</th>
            <td class="table__col2"><%=@memo.way.name %></td>
          </tr>
          <tr>
            <th class="table__col1">活動頻度</th>
            <td class="table__col2"><%=@memo.pace.name %></td>
          </tr>
          <tr>
            <th class="table__col1">リモート面談の可否</th>
            <td class="table__col2"><%=@memo.remote.name %></td>
          </tr>
        <tbody>
      </table>
      </div>
      <div>
        <table class="table2">
          <tr><th><th class="table__col3">活動記録</th></tr>
          <tr><td><td class="table__col4"><%=@memo.record %></td></tr>
          <tbody>
        </table>
      </div>
    </div>
      <% if current_user == @memo.user %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_memo_path(@memo), class: :prototype__btn %>
          <%= link_to "削除する", "/memos/#{@memo.id}", method: :delete, class: :prototype__btn %>
        </div>
      <% end %>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>

      <div class="prototype__comments">
        <% if user_signed_in? %>
          <%= form_with(model: [@memo], local: true) do |f| %>
            <div class="field">
              <%= f.label :comment, "応援コメント！" %><br/>
              <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn %>
            </div>
          <% end %> 
        <% end %>
        <ul class="comments_lists">
          <li class="comments_list">
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      </div>
    </div>
  </div>
</main>