<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>オリジナルアプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("logo.png", class: :logo), root_path %>
          </div>
            <p>🚫メモの記載について🚫<br>
            ・面談内容を簡潔に記載<br>
            ・記載後には所長に報告<br>
            </p>
            <p>🚫次回の確認日🚫<br>
            ・2021年3月31日(水)<br>
            ・午前中の会議前まで<br>
            </p>
          <% if user_signed_in? %>
            <div class="nav__right">
              <p><%= link_to "ログアウト", destroy_user_session_path, class: :nav__btn %><br>
              <%= link_to "新しいメモ", new_memo_path, class: :nav__btn %>
            </div>
          <% else %>
            <div class="nav__right">
              <p><%= link_to "ログイン", new_user_session_path, class: :nav__btn %><br>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © 2021-2022 Kyohei@Dr.memo.co,.ltd. All Rights Resarved.</p>
    </footer>
  </body>
</html>
