<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>オリジナルアプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= image_tag("logo1.png", class: :logo) %>
            <%= image_tag("logo3.png", class: :logo) %>
          </div>
            <p>🔥心を燃やせ🔥<br>
            社畜どもよ！さあ病院に❗<br>
            この先には・・・<br>
            </p>
            <p>✨💪.｡..:*(´∀｀*💰)*:.｡..✨<br>
            最高の待遇がが待っている❗<br>
            さっさとノートを書けぇー❗<br>
            </p>
          <%# ログインしているときは以下を表示するようにしましょう %>
          <%# // ログインしているときは上記を表示するようにしましょう %>
          <%# ログインしていないときは以下を表示するようにしましょう %>
            <div class="nav__right">
              <p><%= link_to "ログイン", root_path, class: :nav__btn %><br>
              <%= link_to "新規登録", root_path, class: :nav__btn %>
              </p>
            </div>
          <%# // ログインしていないときは上記を表示するようにしましょう %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">⚠⚠ これは、Dr情報💊メモ👨‍💻（仕事用）です。🚫個人情報流出🚫にご注意くださいませ！⚠⚠ </p>
    </footer>
  </body>
</html>
